@import '../../scss/colors';

.rpc-color-picker {
  cursor: pointer;

  .form-control-color {
    width: 50px;
    height: 44px;
    margin: 0;
    padding: 0;
  }

  &__label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
