/* print functionality */

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
    user-select: none;
  }

  @page {
    margin: 1cm;
  }

  body * {
    margin: 0;
    padding: 0;
  }

  p {
    user-select: none;
  }
}
